<h1>Products (<%= @products.count %>)</h1>

<ul>
<% @products.each do |product| %>
  <li><a href="products/<%= "#{product.id}" %>"><%= "#{product.name}" %></a> <%= "-- #{product.description} -- #{product.formatted_price}" %></li>
<% end %>
</ul>

<%= link_to "New", new_product_url %>
